body{
  background-color: #F5F6FA;
}
.display-flex{
  display: flex
}
.flex_align-center{
  align-items: center;
}
.flex_align-baseline{
  align-items: baseline;
}
.flex_align-end{
  align-items: flex-end;
}
.flex_justify-center{
  justify-content: center;
}
.flex_justify-space-between{
  justify-content: space-between;
}
.flex-wrap_wrap{
  flex-wrap: wrap;
}
.float-right{
  float: right;
}
.margint-25{
  margin-top: 25px;
}
.margint-30{
  margin-top: 30px;
}
.marginl-10{
  margin-left: 10px;
}
.marginr-10{
  margin-right: 10px;
}
@media screen and (min-width: 992px) {
  .margint-10-md{
    margin-top: 10px;
  }
}
.margint-10{
  margin-top: 10px;
}
.margint-75{
  margin-top: 75px;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.display-none{
  display: none;
}
.name-inital{
  background: #007BF5 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: #fff;
  padding: 5px;
  margin-right: 5px;
}
.arrow-down{
  height: 6px;
  width: 12px;
  filter: invert(36%) sepia(94%) saturate(3151%) hue-rotate(193deg) brightness(96%) contrast(109%);
}
.question-mark{
  height: 12px;
}
.width-85{
  width: 85%;
}
.width-100{
  width: 100%;
}

@media screen and (max-width: 760px) {
  .width-80-xs{
    width: 80%!important;
  }
  .width-20-xs{
    width: 20%!important;
  }
  .margint-25-xs{
    margin-top: 25px!important;
  }
  .hidesm{
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .mini-button-adjust{
    width: auto!important;
    padding: 10px!important;
  }
}

@media screen and (min-width: 1000px) {
  .margin-right-20-md_up{
    margin-right: 20px;
  }
}

.filter-gray{
  filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(92%) contrast(93%);
}
.filter-blue{
  filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(92%) contrast(93%);
}
.logo{
  font-weight: 800;
  font-size: 27px;
  letter-spacing: 0.11px;
  color: #007BF5;
  opacity: 1;
}
.heading{
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
.label{
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: #787878;
  opacity: 1;
}
.text-content-primary{
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: #000000;
  opacity: 1;
}
.text-content-sidebar{
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0px;
  color: #000;
  opacity: 1;
}

.button-primary{
  background: #007BF5;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 1;
  padding: 13px 0px;
  outline: none;
  border: 1px solid #007BF5;
  width: 160px;
}
.button-secondary{
  background: #fff;
  border: 1px solid #007BF5;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #007BF5;
  border-radius: 6px;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #007BF5;
  padding: 13px 0px;
  width: 160px;
}

@media screen and (max-width: 992px) {
  .flex-center-space_betwn-sm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
