.element-wrapper{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  height: auto;
  padding: 20px 10px;
}

@media screen and (min-width: 780px) {
  .two-col-block-md-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .two-col-block-md-a{
    width: 49%;
  }
}
@media screen and (max-width: 780px) {
  .two-col-block-md-wrapper{
    display: grid;
  }
  .two-col-block-md-a{
    width: 100%;
  }
}

.single-col-block-md-a{
  width: 100%;
}

.input-label{
  letter-spacing: 0.12px;
  color: #787878;
  opacity: 1;
  text-align: left;
  font-size: 12px;
}
.input-box{
  border: 1px solid #B4B4B4;
  border-radius: 6px;
  opacity: 1;
  width: 94%;
  padding: 10px 15px;
}
.input-box-md{
  border: 1px solid #B4B4B4;
  border-radius: 6px;
  opacity: 1;
  width: 90%;
  padding: 10px 15px;
}
.input-box-sm{
  border: 1px solid #B4B4B4;
  width: auto;
  border-radius: 6px;
  opacity: 1;
  padding: 10px 15px;
}
@media screen and (max-width: 760px) {
  .input-box-sm{width: 100%;}
}
input[type="file"]#fileUploadLead, input[type="file"]#fileUploadRecord, input[type="file"]#AssetUploadRecord {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 200px;
}

.primary-upload-button{
  background: #007BF5;
  color: white;
  border-radius: 6px;
}
.secondary-upload-button{
  background: #fff;
  color: #007BF5;
  border-radius: 6px;
}

/* TOGGLE SLIDER STARTS */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* TOGGLE SLIDER ENDS */




/* MULTI SELECT STARTS */
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  width: 100%;
}
#JobTitle-on-view .bootstrap-select{
  width: 90%!important;
}
#geography-on-view .bootstrap-select{
  width: 90%!important;
}
.dropdown-toggle{
  padding: 14px 7px!important;
  border: 1px solid #B4B4B4!important;
  opacity: 1!important;
  background: white!important;
}
.filter-option{
  padding: 6px!important;
}
/* MULTI SELECT DOWN */