html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.content-wrapper{
  display: flex;
}

@media screen and (min-width: 760px) {
	.sidebar-section{
		height: 100%;
		width: 20%;
		position: fixed;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000029;
		opacity: 1;
	}
	.content-section{
		width: 80%;
		position: relative;
		left: 20%;
		background: #F5F6FA;
		background-color: #F5F6FA;
		padding: 10px 20px;
	}
}
@media screen and (max-width: 760px) {
	.sidebar-section{
		height: 100%;
		width: 30%;
		position: fixed;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000029;
		opacity: 1;
	}
	.content-section{
		width: 70%;
		position: relative;
		left: 30%;
		background: #F5F6FA;
		background-color: #F5F6FA;
		padding: 10px 20px;
	}
}