.sidebar-image{
  height: 26px;
}


.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
}
@media screen and (min-width: 760px) {
  .sidenav {
    width: 20%;
  }
}
@media screen and (max-width: 760px) {
  .sidenav {
    width: 30%;
  }
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.activeElement {
  background: #F2F6FB;
}
.sidenav .activeElement>span {
  color: #419BF7;
}
.sidenav .activeElement>img {
  filter: invert(51%) sepia(85%) saturate(2929%) hue-rotate(194deg) brightness(108%) contrast(94%);;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}